# Backend
backend/bin/
backend/logs/
backend/target/
backend/compile_error.txt

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.development
frontend/.env.production
backend/src/main/resources/application.properties
